.button {
  background-color: brown;
  color: white;
  font-weight: 500;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #791111;
}
