.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.product--border-none {
  border: none;
}

.product__name {
  margin: 0;
}

.product__desc {
  display: block;
}

.product__amount-label {
  font-weight: 600;
  margin-right: 0.5rem;
}

.product__amount {
  /* display: inline; */
  width: 3rem;
  border: 1px solid gray;
}

.product__button {
  display: block;
}
